.btn
{
    background-color: green;
  color: rgb(0, 0, 0);
  font-size: 20px;

}

*
{

padding: 10px;
margin: 10px;
font-size: 40px;

}

.lasagna
{

background-color: red;
padding: 20px;
border: 20px solid purple;
margin: 20px;
}

.taco
{

background-color: red;
padding: 20px;
border: 20px solid purple;
margin: 20px;
}

.MacnCheese
{

background-color: red;
padding: 20px;
border: 20px solid purple;
margin: 20px;
}